huggingface_hub==0.23.4
diffusers==0.24.0
pyarrow==25.0.0
ipykernel==7.3.0
jupyter==1.1.1
python-dotenv==1.2.2
setuptools<80
gradio<4.44.1
numpy
torch
torchvision
transformers
accelerate
datasets
matplotlib
tensorboard
wandb
open_clip_torch
scipy
torchaudio
librosa
audiodiffusion
